// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
fieldset{
	margin-top: 30px;
	width: 400px;
	table.login{
		width: 400px;
	    margin-top: 10px;
	    margin-bottom: 20px;
	    tr{
	      background-color: #fff;
	      background-color: transparent;
	    }
	    td{
	      text-align: left  !important ;
	      padding: 8px 5px;
	    }    
	}
}