|  $('notice').hide();


| if ($('#cart tr').length == 1) { $('#side').css({'display':'block'});$('#cart').show('blind', 1000); } 

|  $('#cart').html("
=j render @cart
| "); 

|  $('#current_item').css({'background-color':'#FD2B2E'}).animate({'background-color':'#FE8183'}, 1000); 
